<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>16.352</string>
	<string>17.324</string>
	<string>18.354</string>
	<string>19.445</string>
	<string>20.602</string>
	<string>21.827</string>
	<string>23.125</string>
	<string>24.500</string>
	<string>25.957</string>
	<string>27.500</string>
	<string>29.135</string>
	<string>30.868</string>
	<string>32.703</string>
	<string>34.648</string>
	<string>36.708</string>
	<string>38.891</string>
	<string>41.203</string>
	<string>43.654</string>
	<string>46.249</string>
	<string>48.999</string>
	<string>51.913</string>
	<string>55.000</string>
	<string>58.270</string>
	<string>61.735</string>
	<string>65.406</string>
	<string>69.296</string>
	<string>73.416</string>
	<string>77.782</string>
	<string>82.407</string>
	<string>87.307</string>
	<string>92.499</string>
	<string>96.899</string>
	<string>102.283</string>
	<string>107.666</string>
	<string>118.433</string>
	<string>123.816</string>
	<string>129.199</string>
	<string>139.966</string>
	<string>145.349</string>
	<string>156.116</string>
	<string>166.882</string>
	<string>172.266</string>
	<string>183.032</string>
	<string>193.799</string>
	<string>209.949</string>
	<string>220.715</string>
	<string>231.482</string>
	<string>247.632</string>
	<string>263.782</string>
	<string>279.932</string>
	<string>296.082</string>
	<string>312.231</string>
	<string>328.381</string>
	<string>349.915</string>
	<string>371.448</string>
	<string>392.981</string>
	<string>414.514</string>
	<string>441.431</string>
	<string>468.347</string>
	<string>495.264</string>
	<string>522.180</string>
	<string>554.480</string>
	<string>586.780</string>
	<string>624.463</string>
	<string>656.763</string>
	<string>699.829</string>
	<string>737.512</string>
	<string>785.962</string>
	<string>829.028</string>
	<string>877.478</string>
	<string>931.311</string>
	<string>985.144</string>
	<string>1044.360</string>
	<string>1108.960</string>
	<string>1173.560</string>
	<string>1243.542</string>
	<string>1318.909</string>
	<string>1394.275</string>
	<string>1480.408</string>
	<string>1566.541</string>
	<string>1663.440</string>
	<string>1760.339</string>
	<string>1862.622</string>
	<string>1975.671</string>
	<string>2094.104</string>
	<string>2217.920</string>
	<string>2347.119</string>
	<string>2487.085</string>
	<string>2637.817</string>
	<string>2793.933</string>
	<string>2960.815</string>
	<string>3138.464</string>
	<string>3321.497</string>
	<string>3520.679</string>
	<string>3730.627</string>
	<string>3951.343</string>
	<string>4188.208</string>
	<string>4430.840</string>
	<string>4699.622</string>
	<string>4979.553</string>
	<string>5275.635</string>
	<string>5587.866</string>
	<string>5921.631</string>
	<string>6271.545</string>
	<string>6642.993</string>
	<string>7041.357</string>
	<string>7461.255</string>
	<string>7902.686</string>
	<string>8372.018</string>
	<string>8869.844</string>
	<string>9397.273</string>
	<string>9956.063</string>
	<string>10548.082</string>
	<string>11175.303</string>
	<string>11839.822</string>
	<string>12543.854</string>
	<string>13289.750</string>
	<string>14080.000</string>
	<string>14917.240</string>
	<string>15804.266</string>
	<string>16744.036</string>
	<string>17739.688</string>
	<string>18794.545</string>
	<string>19912.127</string>
</array>
</plist>
