<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>16.352</string>
	<string>17.324</string>
	<string>18.354</string>
	<string>19.445</string>
	<string>20.602</string>
	<string>21.827</string>
	<string>23.125</string>
	<string>24.500</string>
	<string>25.957</string>
	<string>27.500</string>
	<string>29.135</string>
	<string>30.868</string>
	<string>32.703</string>
	<string>34.648</string>
	<string>36.708</string>
	<string>38.891</string>
	<string>41.203</string>
	<string>43.654</string>
	<string>46.249</string>
	<string>48.999</string>
	<string>51.913</string>
	<string>55.000</string>
	<string>58.270</string>
	<string>61.735</string>
	<string>65.406</string>
	<string>69.296</string>
	<string>73.416</string>
	<string>77.782</string>
	<string>82.407</string>
	<string>87.307</string>
	<string>92.499</string>
	<string>97.999</string>
	<string>103.826</string>
	<string>110.000</string>
	<string>116.541</string>
	<string>123.471</string>
	<string>130.813</string>
	<string>138.591</string>
	<string>146.832</string>
	<string>155.563</string>
	<string>164.814</string>
	<string>174.614</string>
	<string>184.997</string>
	<string>195.998</string>
	<string>207.652</string>
	<string>220.000</string>
	<string>233.082</string>
	<string>246.942</string>
	<string>261.626</string>
	<string>277.183</string>
	<string>293.665</string>
	<string>311.127</string>
	<string>329.628</string>
	<string>349.228</string>
	<string>369.994</string>
	<string>391.995</string>
	<string>415.305</string>
	<string>440.000</string>
	<string>466.164</string>
	<string>493.883</string>
	<string>523.251</string>
	<string>554.365</string>
	<string>587.330</string>
	<string>622.254</string>
	<string>659.255</string>
	<string>698.456</string>
	<string>739.989</string>
	<string>783.991</string>
	<string>830.609</string>
	<string>880.000</string>
	<string>932.328</string>
	<string>987.767</string>
	<string>1046.502</string>
	<string>1108.731</string>
	<string>1174.659</string>
	<string>1244.508</string>
	<string>1318.510</string>
	<string>1396.913</string>
	<string>1479.978</string>
	<string>1567.982</string>
	<string>1661.219</string>
	<string>1760.000</string>
	<string>1864.655</string>
	<string>1975.533</string>
	<string>2093.005</string>
	<string>2217.461</string>
	<string>2349.318</string>
	<string>2489.016</string>
	<string>2637.020</string>
	<string>2793.826</string>
	<string>2959.955</string>
	<string>3135.963</string>
	<string>3322.438</string>
	<string>3520.000</string>
	<string>3729.310</string>
	<string>3951.066</string>
	<string>4186.009</string>
	<string>4434.922</string>
	<string>4698.636</string>
	<string>4978.032</string>
	<string>5274.041</string>
	<string>5587.652</string>
	<string>5919.911</string>
	<string>6271.927</string>
	<string>6644.875</string>
	<string>7040.000</string>
	<string>7458.620</string>
	<string>7902.133</string>
	<string>8372.018</string>
	<string>8869.844</string>
	<string>9397.273</string>
	<string>9956.063</string>
	<string>10548.082</string>
	<string>11175.303</string>
	<string>11839.822</string>
	<string>12543.854</string>
	<string>13289.750</string>
	<string>14080.000</string>
	<string>14917.240</string>
	<string>15804.266</string>
	<string>16744.036</string>
	<string>17739.688</string>
	<string>18794.545</string>
	<string>19912.127</string>
</array>
</plist>
