<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>16.352</key>
	<string>C-0</string>
	<key>17.324</key>
	<string>C#-0</string>
	<key>18.354</key>
	<string>D-0</string>
	<key>19.445</key>
	<string>D#-0</string>
	<key>20.602</key>
	<string>E-0</string>
	<key>21.827</key>
	<string>F-0</string>
	<key>23.125</key>
	<string>F#-0</string>
	<key>24.500</key>
	<string>G-0</string>
	<key>25.957</key>
	<string>G#-0</string>
	<key>27.500</key>
	<string>A-0</string>
	<key>29.135</key>
	<string>A#-0</string>
	<key>30.868</key>
	<string>B-0</string>
	<key>32.703</key>
	<string>C-1</string>
	<key>34.648</key>
	<string>C#-1</string>
	<key>36.708</key>
	<string>D-1</string>
	<key>38.891</key>
	<string>D#-1</string>
	<key>41.203</key>
	<string>E-1</string>
	<key>43.654</key>
	<string>F-1</string>
	<key>46.249</key>
	<string>F#-1</string>
	<key>48.999</key>
	<string>G-1</string>
	<key>51.913</key>
	<string>G#-1</string>
	<key>55.000</key>
	<string>A-1</string>
	<key>58.270</key>
	<string>A#-1</string>
	<key>61.735</key>
	<string>B-1</string>
	<key>65.406</key>
	<string>C-2</string>
	<key>69.296</key>
	<string>C#-2</string>
	<key>73.416</key>
	<string>D-2</string>
	<key>77.782</key>
	<string>D#-2</string>
	<key>82.407</key>
	<string>E-2</string>
	<key>87.307</key>
	<string>F-2</string>
	<key>92.499</key>
	<string>F#-2</string>
	<key>97.999</key>
	<string>G-2</string>
	<key>103.826</key>
	<string>G#-2</string>
	<key>110.000</key>
	<string>A-2</string>
	<key>116.541</key>
	<string>A#-2</string>
	<key>123.471</key>
	<string>B-2</string>
	<key>130.813</key>
	<string>C-3</string>
	<key>138.591</key>
	<string>C#-3</string>
	<key>146.832</key>
	<string>D-3</string>
	<key>155.563</key>
	<string>D#-3</string>
	<key>164.814</key>
	<string>E-3</string>
	<key>174.614</key>
	<string>F-3</string>
	<key>184.997</key>
	<string>F#-3</string>
	<key>195.998</key>
	<string>G-3</string>
	<key>207.652</key>
	<string>G#-3</string>
	<key>220.000</key>
	<string>A-3</string>
	<key>233.082</key>
	<string>A#-3</string>
	<key>246.942</key>
	<string>B-3</string>
	<key>261.626</key>
	<string>C-4</string>
	<key>277.183</key>
	<string>C#-4</string>
	<key>293.665</key>
	<string>D-4</string>
	<key>311.127</key>
	<string>D#-4</string>
	<key>329.628</key>
	<string>E-4</string>
	<key>349.228</key>
	<string>F-4</string>
	<key>369.994</key>
	<string>F#-4</string>
	<key>391.995</key>
	<string>G-4</string>
	<key>415.305</key>
	<string>G#-4</string>
	<key>440.000</key>
	<string>A-4</string>
	<key>466.164</key>
	<string>A#-4</string>
	<key>493.883</key>
	<string>B-4</string>
	<key>523.251</key>
	<string>C-5</string>
	<key>554.365</key>
	<string>C#-5</string>
	<key>587.330</key>
	<string>D-5</string>
	<key>622.254</key>
	<string>D#-5</string>
	<key>659.255</key>
	<string>E-5</string>
	<key>698.456</key>
	<string>F-5</string>
	<key>739.989</key>
	<string>F#-5</string>
	<key>783.991</key>
	<string>G-5</string>
	<key>830.609</key>
	<string>G#-5</string>
	<key>880.000</key>
	<string>A-5</string>
	<key>932.328</key>
	<string>A#-5</string>
	<key>987.767</key>
	<string>B-5</string>
	<key>1046.502</key>
	<string>C-6</string>
	<key>1108.731</key>
	<string>C#-6</string>
	<key>1174.659</key>
	<string>D-6</string>
	<key>1244.508</key>
	<string>D#-6</string>
	<key>1318.510</key>
	<string>E-6</string>
	<key>1396.913</key>
	<string>F-6</string>
	<key>1479.978</key>
	<string>F#-6</string>
	<key>1567.982</key>
	<string>G-6</string>
	<key>1661.219</key>
	<string>G#-6</string>
	<key>1760.000</key>
	<string>A-6</string>
	<key>1864.655</key>
	<string>A#-6</string>
	<key>1975.533</key>
	<string>B-6</string>
	<key>2093.005</key>
	<string>C-7</string>
	<key>2217.461</key>
	<string>C#-7</string>
	<key>2349.318</key>
	<string>D-7</string>
	<key>2489.016</key>
	<string>D#-7</string>
	<key>2637.020</key>
	<string>E-7</string>
	<key>2793.826</key>
	<string>F-7</string>
	<key>2959.955</key>
	<string>F#-7</string>
	<key>3135.963</key>
	<string>G-7</string>
	<key>3322.438</key>
	<string>G#-7</string>
	<key>3520.000</key>
	<string>A-7</string>
	<key>3729.310</key>
	<string>A#-7</string>
	<key>3951.066</key>
	<string>B-7</string>
	<key>4186.009</key>
	<string>C-8</string>
	<key>4434.922</key>
	<string>C#-8</string>
	<key>4698.636</key>
	<string>D-8</string>
	<key>4978.032</key>
	<string>D#-8</string>
	<key>5274.041</key>
	<string>E-8</string>
	<key>5587.652</key>
	<string>F-8</string>
	<key>5919.911</key>
	<string>F#-8</string>
	<key>6271.927</key>
	<string>G-8</string>
	<key>6644.875</key>
	<string>G#-8</string>
	<key>7040.000</key>
	<string>A-8</string>
	<key>7458.620</key>
	<string>A#-8</string>
	<key>7902.133</key>
	<string>B-8</string>
	<key>8372.018</key>
	<string>C-9</string>
	<key>8869.844</key>
	<string>C#-9</string>
	<key>9397.273</key>
	<string>D-9</string>
	<key>9956.063</key>
	<string>D#-9</string>
	<key>10548.082</key>
	<string>E-9</string>
	<key>11175.303</key>
	<string>F-9</string>
	<key>11839.822</key>
	<string>F#-9</string>
	<key>12543.854</key>
	<string>G-9</string>
	<key>13289.750</key>
	<string>G#-9</string>
	<key>14080.000</key>
	<string>A-9</string>
	<key>14917.240</key>
	<string>A#-9</string>
	<key>15804.266</key>
	<string>B-9</string>
	<key>16744.036</key>
	<string>C-10</string>
	<key>17739.688</key>
	<string>C#-10</string>
	<key>18794.545</key>
	<string>D-10</string>
	<key>19912.127</key>
	<string>D#-10</string>
</dict>
</plist>
